version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: gcomics_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: comics
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./server/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p123456"]
      timeout: 20s
      retries: 10
      interval: 10s

volumes:
  mysql_data:
